streamlit
numpy
pandas
matplotlib
seaborn
#---------------------
requests
#BeautifulSoup
beautifulsoup4
transformers 
torch
sentencepiece
scipy
scikit-learn
plotly
diffusers 
pillow
PyMuPDF
PyPDF2
boto3
pdf2image
pytesseract
poppler-utils
openpyxl
